<div class="main">
  <div class="inline logo"><%= image_tag "Santa.png" %></div>
  <nav class="inline">
    <div>
      <ul>
        <li id="menu-1" class="menu-items"><a href="#">Home</a></li>
        <li id="menu-2" class="menu-items"><a href="#">Music</a></li>
        <li id="menu-3" class="menu-items"><a href="#">About</a></li>
        <li id="menu-4" class="menu-items"><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <br>

  <div class="inline discohead">
    <%= image_tag "discohead.png" %>
  </div>

  <div class="jumbotron inline" style="background-color: #000029;" >
    <div id="album">
      <%= image_tag "album.jpg" %>
    </div>
  </div>

  <div class="inline dancer">
    <%= image_tag "dancer.png" %>
  </div>
</div>