<!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-4 font-alt m-b-30">
          Still Waiting EP
        </div>
        <div class="hs-title-size-1 font-inc">
          <a href="https://soundcloud.com/coreycambridge/sets/still-waiting" style="color: white;" target="_blank">listen</a> | <a href="#"  style="color: white;" target="_blank">download</a>
        </div>
      </div>
    </div>

    <!-- Youtube player start-->
    <div class="video-player" data-property="{videoURL:'https://youtu.be/52nSdrEJDWM', containment:'.module-hero', startAt:91, stopAt:168, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <!-- Youtube player end -->

    <!-- Youtube controls start-->
    <div class="video-controls-box">
      <div class="container">
        <div class="video-controls">
          <a id="video-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
          <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
        </div>
      </div>
    </div>
    <!-- Youtube controls end -->

  </section >
  <!-- /HOME -->

