<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <section class="module module-header bg-dark bg-dark-50" data-background="https://shootlorenzo.files.wordpress.com/2014/02/corey-shoot1579.jpg">

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center">Still Waiting EP</h1>

          <div class="module-subtitle font-inc align-center">
            I can't wait to get out of this place, but for now I'm still waiting.
          </div>

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section >
  <!-- /HOME -->

  <!-- ABOUT -->

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-12 col-md-6 col-md-offset-3 col-bg">
          <!-- SOUNDCLOUD -->
          <!-- <div class="col-sm-12 col-md-6 col-md-offset-3 col-bg"> -->
            <!-- <iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/51362197&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
          <!-- </div> -->
          
        </div>
        <!-- /SKILLS -->

      </div>

    <!-- </div> -->

  <!-- /ABOUT -->

  <!-- DIVIDER -->
  <hr class="divider-w">
  <!-- /DIVIDER -->
</div>