<div class="wrapper">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PGjzvYxfJN0?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/52nSdrEJDWM?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
  </div>
</div>