/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Quicksand);


body {
font-family: 'Quicksand', sans-serif;
// margin-left: 23%;
// background:rgba(50,255,255,0.3);
  background: url("bg.png") top center no-repeat;
// background-color: #f1c40f;
/*background: url('/assets/background.jpg');*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding-left: 800px;
    margin-bottom: 20px;
}
// h1 {
//     font-size: 70px;
// }

// h2 {
//     font-size: 50px;
// }

// .my-container {
//     position: relative;
//     overflow: hidden;
// }
// .my-container h1 {
//     padding: 200px;
//     position: relative;
//     z-index: 2;
// } 
// .my-container img {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: auto;
//     background:rgba(50,255,255,0.3);
//     opacity: 0.6;
// }

