// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu-items {
  font-size: 50px;
  display: inline-block;
  margin: 20px;
}

.inline {
  display: inline-block;
}

.logo {
    width: 200px;   
}

.logo img {
  width: 100%;
  height: auto;
}

#album {
  width: 600px;
  margin-left: 8%;
}

#album img {
  width: 100%;
  height: auto;
}

.jumbotron {
  width: 65%;
}

.dancer {
  width: 300px;
}

.dancer img {
  width: 100%;
}

.discohead {
  margin-left: -300px;
  width: 300px;
}

.discohead img {
  width: 100%;
  margin-top: 360px;

}

ul {
  list-style-type: none;
}