// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo img{
  width: 250px;
  height: auto;
  padding-top: 10px;
}

.main-display {
  padding-top: 30px;
}

.icon-size {
  height: 64px;
  width: 64px;
  margin-left: 10px;
  display: inline-block;
}

.fb {
  background-image: url('fb.png');
}

.fb:hover {
  background-image: url('fb-red.png');
}

.twitter {
  background-image: url('twitter.png');
}

.twitter:hover {
  background-image: url('twitter-red.png');
}

.ig {
  background-image: url('ig.png');
}

.ig:hover {
  background-image: url('ig-red.png');
}

.spotify {
  background-image: url('spotify.png');
}

.spotify:hover {
  background-image: url('spotify-red.png');
}

.soundcloud {
  background-image: url('soundcloud7.png');
}

.soundcloud:hover {
  background-image: url('soundcloud-red.png');
}

@media all and ( min-width: 560px ) {
  .div_style { 
      width:560px;
      padding-bottom:315px !important;
  }
}

.links div{
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  padding-top: 10px;
}


a:link, a:visited { color: #000000 !important; }

a:hover { color: #C0392B !important; }

.link-group div{
  display: block;
}

.link-img img{
  height: 120px;
}

.link-1 {
  margin-top: -15px;
}