<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Corey Cambridge</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= yield %>

  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- /PRELOADER -->

  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

      <div class="container">
    
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="
    padding-top: 3px;"><%= image_tag 'corey-logo.png', size: '60' %></a>
        </div>
    
        <div class="collapse navbar-collapse" id="custom-collapse">
    
          <ul class="nav navbar-nav navbar-right">
    
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="https://soundcloud.com/coreycambridge">Music</a></li>
    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Press</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://drive.google.com/folderview?id=0B4IFKNAJWU4RLXRSTW0wVHFDWms&usp=sharing"><i class="fa fa-bolt"></i> EPK</a></li>
                <li><a href="https://drive.google.com/folderview?id=0B47hq8oH6rL1fmxISTk3N2t0alpwYlBDVFVyYnFiTXRubzZJV3FuQ0xxNHpZS0tDZnBHRkk&usp=sharing&tid=0B4IFKNAJWU4RLXRSTW0wVHFDWms"><i class="fa fa-link fa-sm"></i> Photos</a></li>
              </ul>
            </li>
    
            <li><a href="#">Contact</a></li>
    
          </ul>
        </div>
    
      </div>

  </nav>
  <!-- /NAVIGATION -->

  <!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30" data-background="assets/images/section-10.jpg">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-4 font-alt m-b-30">
          Corey Cambridge
        </div>
        <div class="hs-title-size-1 font-inc">
          I'm too sexy for my shirt
        </div>
      </div>
    </div>

    <!-- Youtube player start-->
    <div class="video-player" data-property="{videoURL:'https://youtu.be/52nSdrEJDWM', containment:'.module-hero', startAt:91, stopAt:168, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <!-- Youtube player end -->

    <!-- Youtube controls start-->
    <div class="video-controls-box">
      <div class="container">
        <div class="video-controls">
          <a id="video-volume" class="fa fa-volume-up" href="#">&nbsp;</a>
          <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
        </div>
      </div>
    </div>
    <!-- Youtube controls end -->

  </section >
  <!-- /HOME -->

  <!-- WRAPPER -->
  <div class="wrapper">
    <!-- SOUNDCLOUD -->
    <div class="well">
      <iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/51362197&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>

    <!-- ABOUT -->
    <section class="module p-t-0 p-b-0" data-background="">

      <div class="container-fluid">

        <div class="row relative">

          <div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

            <h2 class="module-title font-alt">About</h2>

            <div class="module-subtitle font-inc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </div>

            <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>

            <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>

            <ul class="social-list">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-googleplus"></span></a></li>
            </ul>

          </div>

        </div>

      </div>

    </section>
    <!-- /ABOUT -->


    <!-- FOOTER -->
    <footer class="footer">
    
      <div class="container">
    
        <div class="row">
    
          <div class="col-sm-12 text-center">
            <p class="copyright font-inc m-b-0">© 2015 <a href="http://twitter.com/joshuabamboo">JoshuaBamboo</a></p>
          </div>
    
        </div>
    
      </div>
    
    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /WRAPPER -->

  <!-- Scroll-up -->
  <div class="scroll-up">
    <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
  </div>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
